x-app: &default-app
  build:
    context: .
    dockerfile: Dockerfile.prod
  env_file:
    - .env

services:

  web:
    <<: *default-app
    command: sh -c "poetry run python manage.py migrate && poetry run gunicorn polarized.wsgi:application --bind 0.0.0.0:8000"
    ports:
      - "8000:8000"
    volumes:
      - static_data:/data/app/staticfiles

volumes:
  static_data:
