
{% extends 'common/_main.html' %}
{% load static %}

{% block content %}
<main class="flex-1 grid place-items-center w-11/12 max-w-[900px] mx-auto my-6">

    <div id="subjects" class="flex flex-col gap-10 w-full">

        {% for subject in page_obj %}
        <div class="subject">
            {% include 'subjects/components/subject_voting_item.html' %}
    
            {% if page_obj.has_next and forloop.revcounter == 2 %}
            <span
                hx-get="{% url 'subjects:subjects_list' %}?page={{ page_obj.next_page_number }}"
                hx-target="#subjects"
                hx-swap="beforeend"
                hx-select=".subject"
                hx-trigger="revealed"
            />
            {% endif %}

        </div>
        {% endfor %}
    
    </div>

</main>
{% endblock %}