
{% extends 'common/_main.html' %}
{% load static %}

{% block content %}
<main class="flex-1 grid place-items-center w-11/12 max-w-[900px] mx-auto my-6">

    <div x-data="{ signInModalVisible: false }" id="subjects" class="flex flex-col gap-10 w-full">

        {% for subject in page_obj %}
        <div class="subject animation-fade-in">
            <div id="subject-{{ subject.id }}" class="flex flex-col items-center gap-3">
                <h4 class="pacifico-regular text-3xl font-bold">{{ subject.name }}</h4>
                <p class="text-gray-400 text-center text-small">{{ subject.description }}</p>
                {% include 'subjects/components/subject_voting_item.html' %}
            </div>
    
            {% if page_obj.has_next and forloop.revcounter == 2 %}
            <span
                hx-get="{% url 'subjects:subjects_list' %}?page={{ page_obj.next_page_number }}"
                hx-target="#subjects"
                hx-swap="beforeend"
                hx-select=".subject"
                hx-trigger="revealed"
            />
            {% endif %}
        </div>
        {% endfor %}
    
        {% if not request.user.is_authenticated %}
        <div
            x-show="signInModalVisible"
            x-transition
        >
            {% include 'accounts/components/sign_in_modal.html' %}
        </div>
        {% endif %}

    </div>

</main>

{% endblock %}