<!DOCTYPE html>
<html 
    x-cloak
    x-data="{ theme: $persist('auto').as('theme') }"
    x-bind:class="
    {
        'dark': theme === 'dark' ||
        (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches)
    }
    "
    lang="en"
>

{% include 'common/base/head.html' %}

<body class="flex flex-col min-h-svh text-gray-800 dark:bg-gray-800 dark:text-white">
    {% include 'common/base/header.html' %}
    
    {% block content %}
    {% endblock %}

    {% include 'common/base/footer.html' %}

    {% include 'common/base/scripts.html' %}
</body>

</html>