<div id="subject-voting-{{ subject.id }}" class="h-36 max-md:h-32 max-sm:h-28 w-full rounded-md bg-gradient-to-r from-red-500 to-sky-500 p-1">
    <style>
        .animate-width-{{subject.id}}-left {
            animation: width{{subject.id}}left 1.2s forwards ease-in-out;
        }

        @keyframes width{{subject.id}}left {
            from {
                width: 0%;
            }
            to {
                width: {{result_data.left}};
            }
        }

        .animate-width-{{subject.id}}-right {
            animation: width{{subject.id}}right 1.2s forwards ease-in-out;
        }

        @keyframes width{{subject.id}}right {
            from {
                width: 0%;
            }
            to {
                width: {{result_data.right}};
            }
        }
    </style>
    
    <div class="h-full w-full bg-white flex justify-between gap-0 relative">
        <span 
            hx-post="{% url 'subjects:subject_vote' subject.id %}" 
            hx-vals='{"value": -1}' 
            hx-target="#subject-voting-{{ subject.id }}" 
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="absolute top-1/2 -translate-y-1/2 left-6 {% if not voted %}text-gray-700{% else %}text-white{% endif %} text-5xl hover:scale-110 transition-all duration-300 cursor-pointer"
        >
            {% if not voted %}
                Left
            {% else %}
                {{ result_data.left }}
            {% endif %}
        </span>

        <span class="place-self-start h-full bg-red-500 animate-width-{{subject.id}}-left"></span>

        <span class="place-self-end h-full bg-sky-500 animate-width-{{subject.id}}-right"></span>

        <span 
            hx-post="{% url 'subjects:subject_vote' subject.id %}" 
            hx-vals='{"value": 1}' 
            hx-target="#subject-voting-{{ subject.id }}" 
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="absolute top-1/2 -translate-y-1/2 right-6 {% if not voted %}text-gray-700{% else %}text-white{% endif %} text-5xl hover:scale-110 transition-all duration-300 cursor-pointer"
        >
        {% if not voted %}
            Right
        {% else %}
            {{ result_data.right }}
        {% endif %}
        </span>
    </div>
</div>