{% load i18n %}
{% load subject_tags %}

<div id="subject-voting-{{ subject.id }}" class="relative {% if not subject|user_voted:request.user %}animation-fade-in{% else %}animation-fade-in-come-up{% endif %} h-32 max-md:h-28 max-sm:h-20 w-full rounded-md bg-gradient-to-r from-red-500 dark:from-red-600 to-sky-500 dark:to-sky-600 p-1">

    {% if subject|user_voted:request.user %}
        <span
            class="absolute z-10 -top-2 -right-2"
            hx-delete="{% url 'subjects:subject_vote' subject.id %}" 
            hx-target="#subject-voting-{{ subject.id }}" 
            hx-swap="outerHTML"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        >
            <svg xmlns="http://www.w3.org/2000/svg" class="bg bg-gray-300 stroke-gray-700 p-1 rounded-full cursor-pointer w-7 h-7" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M19.933 13.041a8 8 0 1 1 -9.925 -8.788c3.899 -1 7.935 1.007 9.425 4.747" />
                <path d="M20 4v5h-5" />
            </svg>
        </span>
    {% endif %}

    <div class="h-full w-full bg-white dark:bg-gray-800 flex justify-between gap-0 relative">
        <span
            {% if not subject|user_voted:request.user and request.user.is_authenticated %}
                hx-post="{% url 'subjects:subject_vote' subject.id %}" 
                hx-vals='{"value": -1}' 
                hx-target="#subject-voting-{{ subject.id }}" 
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            {% elif not request.user.is_authenticated %}
                x-on:click="signInModalVisible = true; document.body.classList.add('overflow-y-hidden')"
            {% endif %}
            class="absolute top-1/2 -translate-y-1/2 left-6 {% if not subject|user_voted:request.user %}text-gray-700 dark:text-white{% else %}text-white{% endif %} text-4xl max-sm:text-3xl hover:scale-110 transition-all duration-300 cursor-pointer"
        >
            {% if not subject|user_voted:request.user %}
                <p>{% trans "Left" %}</p>
            {% else %}
                <p><span x-data="animatedCounter({{ subject.result.left|floatformat:2 }}, 100, 0)" x-init="updateCounter" x-text="Math.round(current)"></span><span class="text-3xl max-sm:text-2xl">%</span></p>
            {% endif %}
        </span>

        {% if subject|user_voted:request.user %}
            <div class="place-self-start h-full flex flex-col" style="width: {{subject.result.left}}%">
                <div class="animation-width place-self-start h-full bg-red-500 dark:bg-red-600"></div>
            </div>

            <div class="place-self-end h-full flex flex-col" style="width: {{subject.result.right}}%">
                <div class="animation-width place-self-end h-full bg-sky-500 dark:bg-sky-600"></div>
            </div>
        {% endif %}

        <span
            {% if not subject|user_voted:request.user and request.user.is_authenticated %}
                hx-post="{% url 'subjects:subject_vote' subject.id %}" 
                hx-vals='{"value": 1}' 
                hx-target="#subject-voting-{{ subject.id }}" 
                hx-swap="outerHTML"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            {% elif not request.user.is_authenticated %}
                x-on:click="signInModalVisible = true; document.body.classList.add('overflow-y-hidden')"
            {% endif %}
            class="absolute top-1/2 -translate-y-1/2 right-6 {% if not subject|user_voted:request.user %}text-gray-700 dark:text-white{% else %}text-white{% endif %} text-4xl max-sm:text-3xl hover:scale-110 transition-all duration-300 cursor-pointer"
        >
        {% if not subject|user_voted:request.user %}
            <p>{% trans "Right" %}</p>
        {% else %}
            <p><span x-data="animatedCounter({{ subject.result.right|floatformat:2 }}, 100, 0)" x-init="updateCounter" x-text="Math.round(current)"></span><span class="text-3xl max-sm:text-2xl">%</span></p>
        {% endif %}
        </span>
    </div>

</div>