<div class="animation-fade-in flex flex-col items-center gap-3 lobster-regular">
    <h4 class="text-3xl font-bold text-gray-800">{{ subject.name }}</h4>
    
    <div class="h-36 max-md:h-32 max-sm:h-28 w-full rounded-md bg-gradient-to-r from-red-500 to-sky-500 p-1">
        <div class="h-full w-full bg-white flex justify-between gap-0 relative">
            <span class="absolute top-1/2 -translate-y-1/2 left-6 text-gray-700 text-5xl hover:scale-110 transition-all duration-300 cursor-pointer">Left</span>
            <div class="place-self-start h-full w-[60%] ">
            </div>
            <div class="place-self-end h-full w-[40%] ">
            </div>
            <span class="absolute top-1/2 -translate-y-1/2 right-6 text-gray-700 text-5xl hover:scale-110 transition-all duration-300 cursor-pointer">Right</span>
        </div>
    </div>
</div>