@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    @apply !hidden;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.lobster-regular {
    font-family: "Lobster", serif;
    font-weight: 400;
    font-style: normal;
}

.animation-fade-in {
    animation: fadeIn .3s forwards ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .3;
    }
    100% {
        opacity: 1;
    }
}

.animation-scale {
    animation: scale .3s forwards ease-in-out;
}

@keyframes scale {
    from {
        transform: scale(.95);
    }
    to {
        transform: scale(1);
    }
}

.animation-come-up {
    animation: comeUp .3s forwards ease-in-out;
}

@keyframes comeUp {
    from {
        transform: translateY(50px);
    }
    to {
        transform: translateY(0);
    }
}

.animation-fade-in-come-up {
    animation: fadeIn .5s forwards ease-in-out, comeUp .5s forwards ease-in-out;
}

.animation-loading-throbber {
    animation: spin 1s linear infinite, opacityPulse .5s linear alternate infinite;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@keyframes opacityPulse {
    0% {
        opacity: 1;
    }
    100% {
        opacity: .3;
    }
}


.animation-width {
    animation: width 1.2s forwards ease-in-out;
}
@keyframes width {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}