{% load static tailwind_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Izquierdas o Derechas</title>

    {% comment %} Google sign up client code {% endcomment %}
    <script src="https://accounts.google.com/gsi/client" async></script>
    {% comment %} HTMX {% endcomment %}
    <script src="https://unpkg.com/htmx.org"></script>
    {% comment %} Alpine.js {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer></script>

    {% comment %} Google Font Playwrite {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap" rel="stylesheet">

    {% tailwind_css %}
</head>