{% load i18n %}

<header class="h-[90px] flex items-center justify-center">

    <div class="max-w-6xl w-11/12 mx-auto flex justify-between gap-6">

        <p class="pacifico-regular text-3xl">
            <span class="text-red-500 dark:text-red-600">{% trans "Polar" %}</span><span class="text-sky-500 dark:text-sky-600">{% trans "ized!" %}</span>
        </p>

        <div class="relative z-20 flex gap-4 items-center">

            {% include 'common/components/theme_selector.html' %}

            {% include 'common/components/set_language.html' %}

            {% include 'accounts/components/authentication.html' %}
        </div>
    </div>
</header>
