{% load i18n %}
<div class="animation-fade-in">
     <div id="g_id_onload"
          data-client_id="{{ google_oauth_client_id }}"
          data-context="signin"
          data-ux_mode="popup"
          data-login_uri="{% url 'accounts:google_auth_receiver' %}"
          data-auto_prompt="false">
     </div>

     <div class="g_id_signin"
          data-type="standard"
          data-shape="pill"
          data-theme="outline"
          data-text="signin"
          data-size="large"
          data-logo_alignment="left">
     </div>
</div>
